RewriteEngine on

RewriteCond %{HTTP_HOST} ^http://www.archimedis.global/quality [NC,OR]

RewriteCond %{HTTP_HOST} ^http://www.archimedis.global/product/capsules [NC]

RewriteRule ^(.*)$ http://www.archimedis.global/product/$1 [L,R=301,NC]