* {
    padding: 0;
    margin: 0;
  }
  /*==============banner===============*/
  #bbanner {
    width: 100%;
    height: 45vw;
    background: url("../images/Blogsbanner.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    margin-top: 3vw;
  }
  #bbanner_container {
    width: 51vw;
    height: 18.7769784172662vw;
    background: #22bdef;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1vw;
  }
  #bbanner_container h1 {
    font-family: Manrope;
    font-style: normal;
    font-weight: 600;
    font-size: 2.87769784172662vw;
    line-height: 3.9568345323741vw;
    display: flex;
    align-items: center;
    color: #ffffff;
    width: 43.7410071942446vw;
    margin: auto;
  }
  @media (max-width: 992px) {
    #bbanner {
      margin: 85px 0 0 0;
    }
  }
  @media (max-width: 750px) {
    #bbanner {
      height: 43.0232558139535vw;
      margin: 85px 0 25vw 0;
    }
    #bbanner_container {
      width: 84.4186046511628vw;
      height: 29.7674418604651vw;
      background: #22bdef;
      margin: auto auto -22.5vw auto;
      padding-left: 0;
    }
    #bbanner_container h1 {
      text-align: center;
      font-size: 4.65116279069767vw;
      line-height: 6.51162790697674vw;
      width: 100%;
    }
  }

  /*==============================*/
  .blogListContainer2{
    padding:12vw 0 10vw 0;
  }
  .blogListContainer2 #blog {
    width: 100%;
    background: white;
  }
  .blogListContainer2 #blog #blogtitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .blogListContainer2 #blog h1 {
    font-family: Manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 3.16546762589928vw;
    line-height: 4.31654676258993vw;
    text-align: center;
    color: #222222;
  }
  .blogListContainer2 #blog h1:nth-child(2) {
    display:none;
  }
  .blogListContainer2 #blog_container {
    margin-top: 4vw;
  }
  .blogListContainer2 #blog_card {
    display: flex;
    width: fit-content;
    margin: auto;
    margin-top: 5vw;
    padding: 1.3vw 1.3vw 0.7vw 1.3vw;
  }
  .blogListContainer2 #blog_card:hover {
    box-shadow: 0px 0px 2.15827338129496vw rgb(23 23 99 / 9%);
    border-radius: 1.2vw;
    padding: 1.3vw 1.3vw 0.7vw 1.3vw;
  }
  .blogListContainer2 #blog_card:nth-child(1) {
    margin-top: 0;
  }
  .blogListContainer2 #blog_card #blog_card_b1 img {
    width: 15.1079136690647vw;
    height: 10.2158273381295vw;
    border-radius: 0.575539568345324vw;
    margin: 0;
  }
  .blogListContainer2 #blog_card_b2 {
    margin-left: 3.88489208633094vw;
    display:flex;
    flex-direction: column;
    justify-content:center;
  }
  .blogListContainer2 #blog #blog_card_b2 p {
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 1.72661870503597vw;
    line-height: 2.37410071942446vw;
    color: #111111;
  }
  .blogListContainer2 #blog #blog_card_b2 p:nth-child(2) {
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 1.07913669064748vw;
    line-height: 1.8705035971223vw;
    color: #444444;
    opacity: 0.8;
    width: 52.589928057554vw;
    margin-top: 0.863309352517986vw;
    text-align: justify;
  }
  .blogListContainer2 #blog #blog_card_b2 p:nth-child(3) {
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 1.15107913669065vw;
    line-height: 1.58273381294964vw;
    color: #444444;
    opacity: 0.8;
    margin-top: 0.863309352517986vw;
  }
  @media (max-width: 750px) {
    .blogListContainer2{
      padding:12vw 2vw;
    }
    .blogListContainer2 #blog {
      width: 100%;
      background: white;
    }
    .blogListContainer2 #blog h1 {
      font-family: Manrope;
      font-style: normal;
      font-weight: 800;
      font-size: 7vw;
      line-height: 3.9568345323741vw;
      text-align: center;
      color: #200e32;
    }
    .blogListContainer2 #blog_card {
      margin-top: 9.5vw;
    }
    .blogListContainer2 #blog_card:nth-child(1) {
      width: 100%;
    }
    .blogListContainer2 #blog_container {
      margin-top: 10vw;
    }
    .blogListContainer2 #blog_container:nth-child(1) {
      margin-top: 0;
    }
    .blogListContainer2 #blog_card_b1 {
      width: 30%;
      height: 25vw;
    }
    .blogListContainer2 #blog_card_b2 {
      width: 70%;
    }
    .blogListContainer2 #blog_card #blog_card_b1 img {
      width: 100%;
      height: 100%;
      border-radius: 0.575539568345324vw;
      margin: 0;
    }
    .blogListContainer2 #blog_card_b2 {
      display: flex;
      flex-direction: column;
      text-align: left;
      justify-content: center;
    }
    .blogListContainer2 #blog #blog_card_b2 p {
      font-size: 3.3vw;
      line-height: inherit;
    }
  
    .blogListContainer2 #blog #blog_card_b2 p:nth-child(2) {
      display: none;
    }
    .blogListContainer2 #blog #blog_card_b2 p {
      font-size: 3.2vw;
      line-height: 5vw;
    }
    .blogListContainer2 #blog #blog_card_b2 p:nth-child(3) {
      font-size: 2.8vw;
      line-height: inherit;
    }
  }
  