* {
    padding: 0;
    margin: 0;
  }
  .blogListContainer #blog {
    width: 100%;
    padding: 8vw 0 8vw 0;
    background: white;
  }
  .blogListContainer #blog #blogtitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .blogListContainer #blog #blogtitle #h1 {
    font-family: Manrope;
    font-style: normal;
    font-weight: 800;
    line-height: 3.38129496402878vw;
    color: #200e32;
    border-bottom: 0.577617328519856vw solid #22BDEF;
    width: 21.8050541516245vw;
    text-align: center;
    text-decoration: none;
    font-size: 2.02166064981949vw;
  }
  .blogListContainer #blog #blogtitle #h1:nth-child(2) {
    font-style: normal;
    font-weight: 600;
    font-size: 2.02166064981949vw;
    color: #200e32;
    opacity: 0.7;
    border-bottom: 0.433212996389892vw solid #CCCCCC;
  }
  .blogListContainer #blog_container {
    margin-top: 6.90647482014388vw;
  }
  .blogListContainer #blog_card {
    display: flex;
    width: fit-content;
    margin: auto;
    margin-top: 5vw;
    padding: 1.3vw 1.3vw 0.7vw 1.3vw;
  }
  .blogListContainer #blog_card:hover {
    box-shadow: 0px 0px 2.15827338129496vw rgb(23 23 99 / 9%);
    border-radius: 1.2vw;
    padding: 1.3vw 1.3vw 0.7vw 1.3vw;
  }
  .blogListContainer #blog_card:nth-child(1) {
    margin-top: 0;
  }
  .blogListContainer #blog_card #blog_card_b1 img {
    width: 15.1079136690647vw;
    height: 10.2158273381295vw;
    border-radius: 0.575539568345324vw;
    margin: 0;
  }
  .blogListContainer #blog_card_b2 {
    margin-left: 3.88489208633094vw;
  }
  .blogListContainer #blog #blog_card_b2 p {
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 1.72661870503597vw;
    line-height: 2.37410071942446vw;
    color: #111111;
  }
  .blogListContainer #blog #blog_card_b2 p:nth-child(2) {
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 1.07913669064748vw;
    line-height: 1.8705035971223vw;
    color: #444444;
    opacity: 0.8;
    width: 52.589928057554vw;
    margin-top: 0.863309352517986vw;
    text-align: justify;
  }
  .blogListContainer #blog #blog_card_b2 p:nth-child(3) {
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 1.15107913669065vw;
    line-height: 1.58273381294964vw;
    color: #444444;
    opacity: 0.8;
    margin-top: 0.863309352517986vw;
  }
  @media (max-width: 750px) {
    .blogListContainer #blog {
      width: 100%;
      padding: 17vw 8vw;
      background: white;
    }
    .blogListContainer #blog #blogtitle #h1 {
      line-height: 7vw;
      border-bottom: 0.577617328519856vw solid #22BDEF;
      width: 35vw;
      font-size:4vw ;
    }
    .blogListContainer #blog #blogtitle #h1:nth-child(2) {
      font-style: normal;
      font-weight: 600;
      font-size: 3.2vw;
      color: #200e32;
      opacity: 0.7;
      border-bottom: 0.433212996389892vw solid #CCCCCC;
    }
    .blogListContainer #blog_card {
      margin-top: 9.5vw;
    }
    .blogListContainer #blog_card:nth-child(1) {
      width: 100%;
    }
    .blogListContainer #blog_container {
      margin-top: 10vw;
      padding: 0 3vw;
    }
    .blogListContainer #blog_container:nth-child(1) {
      margin-top: 0;
    }
    .blogListContainer #blog_card_b1 {
      width: 30%;
      height: 25vw;
    }
    .blogListContainer #blog_card_b2 {
      width: 70%;
    }
    .blogListContainer #blog_card #blog_card_b1 img {
      width: 100%;
      height: 100%;
      border-radius: 0.575539568345324vw;
      margin: 0;
    }
    .blogListContainer #blog_card_b2 {
      display: flex;
      flex-direction: column;
      text-align: left;
      justify-content: center;
    }
    .blogListContainer #blog #blog_card_b2 p {
      font-size: 3.3vw;
      line-height: inherit;
    }
  
    .blogListContainer #blog #blog_card_b2 p:nth-child(2) {
      display: none;
    }
    .blogListContainer #blog #blog_card_b2 p {
      font-size: 3.2vw;
      line-height: 5vw;
    }
    .blogListContainer #blog #blog_card_b2 p:nth-child(3) {
      font-size: 2.8vw;
      line-height: inherit;
    }
  }
  