#home #bbanner {
  display: none;
}
#home .blogListContainer2 {
  background: #f5f8ff;
  padding:10vw 0;
}
#home .blogListContainer2 #blog {
    background: #f5f8ff;
    padding: 0 5vw;
  }

#home .blogListContainer2 #blog h1 {
  display: flex;
  margin: auto;
  width: fit-content;
}