*{
    padding: 0;
    margin: 0;
}
#sitemap_main{
    width: 100%;
    height: 100vh;
    background: #2d307b;
    padding:5.03597122302158vw;
}
#sitemap_main h1{
    font-family: Manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 3.45323741007194vw;
    line-height: 4.74820143884892vw;
    text-align: center;
    color: white;
}
#sitemap{
    display: grid;
    margin-top: 5vw;
    grid-template-columns: repeat(3, 1fr);
    gap:4vw 0;
}
#sitemap_container{
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
}
#sitemap_container #title{
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5vw;
    line-height: 1.58273381294964vw;
    color: #ffffff;
    cursor: pointer;
    margin-bottom: 0.8vw;
    opacity: 1;
    text-decoration: none;
}
#sitemap_container #sublnk{
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2vw;
    line-height: 2.30215827338129vw;
    letter-spacing: 0.02em;
    color: #ffffff;
    opacity: 0.8;
    cursor: pointer;
}
#sitemap_container #sublnk:nth-child(1){
    margin-top: 2vw;
}
@media (max-width:750px){
    #sitemap_main{
        padding:9vw 5.03597122302158vw;
    }
    #sitemap{
        grid-template-columns: repeat(2, auto);
        margin-top: 15vw;
    }
    #sitemap_main h1{
        font-size: 6vw;
    }
    #sitemap_container #title{
        font-size: 3.9vw;
        line-height: inherit;
        margin-bottom: 1vw;
        opacity: 0.8;
    }
    #sitemap_container #sublnk{
        font-size: 3.1vw;
        line-height: 7vw;
        opacity: 0.8;
    }
}