#about {
  width: 100%;
  padding: 10.7913669064748vw 16.1870503597122vw 0 16.1870503597122vw;
}
#about p {
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 2.87769784172662vw;
  line-height: 5.17985611510791vw;
  text-align: center;
  color: #18191f;
}
#about #about_dec {
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 1.29496402877698vw;
  line-height: 2.58992805755396vw;
  color: #18191f;
  width: 52.8057553956835vw;
  margin: auto;
  margin-top: 5.32374100719424vw;
  opacity: 0.8;
}
@media(max-width:750px){
  #about {
    padding: 10.7913669064748vw 3vw 0 3vw;
}
#about p {
  font-size: 7vw;
  line-height: unset;
}
#about img{
  margin-top: 8vw;
}
#about #about_dec {
  font-size: 3.5vw;
  line-height: 6vw;
  width: 88vw;
}
}