#online {
  width: 100%;
  height: fit-content;
  background: linear-gradient(98.18deg, #0299ca -26.02%, #4bd3ff 112.42%);
  padding: 5.75539568345324vw 15.7553956834532vw;
}
#online_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
#online_container_block1 {
  width: fit-content;
  height: fit-content;
  margin: auto 0;
}
#online_container_block1 h1 {
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 2.87769784172662vw;
  line-height: 5.17985611510791vw;
  color: #ffffff;
}
#online_container_block1 h2 {
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 1.15107913669065vw;
  line-height: 2.01438848920863vw;
  width: 33.0935251798561vw;
  text-align: justify;
  color: white;
}
#online_container_block1 button {
  width: 15vw;
  height: 3.45323741007194vw;
  background: #2d307b;
  border-radius: 0.575539568345324vw;
  font-family: Manrope !important;
  font-style: normal;
  font-weight: bold;
  font-size: 1.15107913669065vw;
  color: #ffffff;
  border: none;
  outline: none;
  padding-right: 2.15827338129496vw;
  position: relative;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  margin-top: 3.23741007194245vw;
}
#online_container_block1 button:hover {
  width: 15.5vw;
}
#online_container_block1 button img {
  width: 1.72661870503597vw;
  height: 1.72661870503597vw;
  position: absolute;
  top: 0.863309352517986vw;
  right: 2.15827338129496vw;
}
#online_container_block1 img {
  width: 26vw;
  height: 27.9856115107914vw;
}
#online #online_container #online_container_block1 #onlinebutton {
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 1.72661870503597vw;
  line-height: 2.15827338129496vw;
  color: white;
  margin-top: 4.10071942446043vw;
}
@media (max-width: 750px) {
  #online {
    padding: 25vw 8vw 8vw 8vw;
}
  #online_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #online_container h1 {
    font-family: Manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 5.8vw;
    line-height: 5.17985611510791vw;
    color: #ffffff;
    text-align: center;
}
#online_container h2 {
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 3.5vw;
  line-height: 6vw;
  width: 80vw;
  text-align: center;
  margin: 3vw auto auto auto;
}
#online #online_container #online_container_block1 #onlinebutton {
  font-size: 5vw;
  line-height: inherit;
  text-align: center;
  font-weight: 800;
  margin-top: 9vw;
}
#online_container_block1 img {
  width: 100%;
  height: auto;
  margin-top: 15vw;
}
}
