#standout {
  width: 100%;
  padding: 13.0935251798561vw 1.43884892086331vw 8vw 1.43884892086331vw;
}
#standout h1 {
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 2.87769784172662vw;
  line-height: 5.17985611510791vw;
  text-align: center;
  color: #200e32;
}
#standout h2 {
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 1.29496402877698vw;
  line-height: 2.30215827338129vw;
  text-align: center;
  color: #200e32;
  margin: auto;
  opacity: 0.8;
}
#standout p {
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 1.29496402877698vw;
  line-height: 2.30215827338129vw;
  text-align: center;
  color: #200e32;
  margin: 3vw auto 0 auto;
  opacity: 0.8;
}
#standout_container {
  margin-top: 4.53237410071942vw;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
#standout_card1 img {
  width: 6.33093525179856vw;
  height: 6.33093525179856vw;
}
#standout #standout_container #standout_card1 #p4_c_dis {
  width: 11.0669064748201vw;
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 1.43884892086331vw;
  line-height: 1.94244604316547vw;
  text-align: center;
  color: #200e32;
  margin: 0.359712230215827vw auto 0 auto;
}
#standout #standout_container #standout_card1:nth-child(2) #p4_c_dis {
  width: 9vw;
}
@media (max-width: 750px) {
  #standout {
    width: 100%;
    padding: 15vw 1.43884892086331vw;
  }
  #standout h1 {
    font-size: 6.5vw;
    line-height: inherit;
  }
  #standout h2 {
    font-size: 4vw;
    line-height: 5.5vw;
    margin: 1.5vw auto 0 auto;
    width: 90vw;
  }
  #standout p {
    font-size: 4vw;
    line-height: 7vw;
    margin: 8vw auto 0 auto;
    width: 80vw;
  }
  #standout_container {
    margin-top: 8vw;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10vw;
    padding: 0 8vw;
  }
  #standout_card1 img {
    width: 20vw;
    height: 20vw;
  }
  #standout #standout_container #standout_card1 #p4_c_dis {
    width: 20vw;
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 3vw;
    line-height: 4vw;
    text-align: center;
    color: #200e32;
    margin-top: 0.359712230215827vw;
  }
  #standout #standout_container #standout_card1:nth-child(2) #p4_c_dis {
    width: 21vw;
  }
}
