#capable {
  width: 100%;
  background: #f5f8ff;
  padding: 10.2877697841727vw 10vw;
}
#capable p {
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 3.45323741007194vw;
  line-height: 4.74820143884892vw;
  text-align: center;
  color: #200e32;
}
#capable p:nth-child(2) {
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 1.15107913669065vw;
  line-height: 2.01438848920863vw;
  text-align: center;
  color: #200e32;
  width: 36.9784172661871vw;
  margin: 0.5vw auto auto auto;
}
#capable_container {
  width: 100%;
  height: 100%;
}
.capable_container_cards {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 12.589928057554vw;
}
.capable_container_cards:nth-child(1) {
  margin-top: 0;
}
.capable_container_cards:nth-child(4) #block_title{
display: none;
}
.capable_container_cards:nth-child(5) #block_title{
  display: none;
  }
.capable_container_cards:nth-child(even) {
  flex-direction: row-reverse;
}
#capable_container_cards_block1 {
  display: flex;
  width: 55%;
}
.capable_container_cards:nth-child(even) #capable_container_cards_block1 {
  margin-left: 6.2vw;
}
.capable_container_cards:nth-child(odd) #capable_container_cards_block1 {
  margin-right: 6.2vw;
}
#capable_container_cards_matter {
  width: 100%;
  height: fit-content;
  margin: auto 0 auto 0;
  position: relative;
  bottom: 2vw;
}
#capable_container_cards_matter #c_c_title {
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 2.87769784172662vw;
  line-height: 3.59712230215827vw;
  color: #200e32;
}
#capable_container_cards_matter #c_c_matter {
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 1.15107913669065vw;
  line-height: 2.01438848920863vw;
  color: #200e32;
  text-align: justify;
  margin: 0;
  margin-top: 0.79136690647482vw;
  width: 520px;
}
#capable_container_cards_matter button img {
  width: 1.72661870503597vw;
  height: 1.72661870503597vw;
  position: absolute;
  top: 0.863309352517986vw;
  right: 2.15827338129496vw;
}
#capable_container_cards_block2 {
  width: 37vw;
  height: 27vw;
  border: 0.215827338129496vw solid #22bdef;
  position: relative;
}
#capable_container_cards_block2 img {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 1.15107913669065vw;
  left: 1.15107913669065vw;
  box-shadow: 0px 0px 4.31654676258993vw 0px rgba(16, 19, 89, 0.3);
}
.capable_container_cards:nth-child(even) #capable_container_cards_block2 img {
  left: unset;
  right: 1.15107913669065vw;
}
.capable_container_cards:nth-child(2) #capable_container_cards_block2 {
  border: 0.215827338129496vw solid #f8569e;
}
.capable_container_cards:nth-child(3) #capable_container_cards_block2 {
  border: 0.215827338129496vw solid #fcb041;
}
.capable_container_cards:nth-child(4) #capable_container_cards_block2 {
  border: 0.215827338129496vw solid #8c90ff;
}
#capable_container_cards_block {
  margin-top: 2vw;
  width: 32vw;
}
#capable_container_cards_block #block_title {
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 1.00719424460432vw;
  line-height: 2.01438848920863vw;
  color: #18191f;
  text-align: left;
}
#capable_container_cards_block
  #capable_container_cards_block_card_container_blocks {
  margin-top: 0.5vw;
}
#capable_container_cards_block
  #capable_container_cards_block_card_container_blocks
  img {
  width:112px;
  height: 112px;
}
#capable_container_cards_block #capable_container_cards_block_card_container {
  display: flex;
  justify-content: space-between;
}
#capable_container_cards_block
  #capable_container_cards_block_card_container_blocks
  p {
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 1.00719424460432vw;
  line-height: 2.01438848920863vw;
  color: #200e32;
  width: fit-content;
  margin-top: 0;
}
@media (max-width: 750px) {
  #capable {
    width: 100%;
    background: white;
    padding: 20vw 8vw;
  }
  #capable p {
    font-size: 8vw;
  }
  #capable_container_cards_matter #c_c_matter {
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 1.15107913669065vw;
    line-height: 2.01438848920863vw;
    color: #200e32;
    text-align: justify;
    margin-top: 0.79136690647482vw;
  }
  .capable_container_cards {
    flex-direction: column-reverse;
    padding: 0;
  }
  #capable_container_cards_block2 {
    width: 100%;
    height: 65vw;
    border: 1vw solid #22bdef;
  }
  #capable_container_cards_block2 img {
    bottom: 3vw;
    left: 3vw;
  }
  .capable_container_cards:nth-child(odd) #capable_container_cards_block1 {
    margin-right: 0;
    width: 100%;
  }
  #capable_container_cards_matter #c_c_title {
    font-size: 6vw;
  }
  #capable_container_cards_matter #c_c_matter {
    font-size: 4.3vw;
    line-height: 6vw;
    margin-top: 6vw;
  }
  #capable_container_cards_matter {
    height: fit-content;
    margin: 10vw 0 0 0;
  }
  #capable_container_cards_matter button {
    width: 37vw;
    height: 10vw;
    border-radius: 2vw;
    margin-top: 8vw;
    font-size: 3.3vw;
    padding-right: 7vw;
  }
  #capable_container_cards_matter button:hover {
    width: 38vw;
  }
  #capable_container_cards_matter button img {
    width: 5vw;
    height: 5vw;
    top: 2.5vw;
    right: 7vw;
  }
  .capable_container_cards:nth-child(even) {
    flex-direction: column-reverse;
  }
  .capable_container_cards:nth-child(even) #capable_container_cards_block1 {
    margin-left: 0;
    width: 100%;
  }
  .capable_container_cards:nth-child(even) #capable_container_cards_block2 img {
    left: 3vw;
    right: unset;
  }
  .capable_container_cards:nth-child(2) #capable_container_cards_block2 {
    border: 1vw solid #f8569e;
  }
  .capable_container_cards:nth-child(3) #capable_container_cards_block2 {
    border: 1vw solid #fcb041;
  }
  .capable_container_cards:nth-child(4) #capable_container_cards_block2 {
    border: 1vw solid #8c90ff;
  }
  #capable_container {
    margin-top: 20vw;
  }
}
@media (max-width: 750px) {
  #capable {
    width: 100%;
    padding: 20vw 8vw;
  }
  #capable p {
    font-size: 6.04651162790698vw;
    margin-top: 13.7209302325581vw;
    line-height: normal;
  }
  #capable p:nth-child(2) {
    font-size: 3.4vw;
    line-height: 5.5vw;
    width: 84vw;
    margin-top: 2.3vw;
  }
  #capable_container_cards_block #capable_container_cards_block_card_container {
    display: flex;
    justify-content: space-between;
    margin-top: 1.62325581395349vw;
  }
  #capable_container_cards_matter #c_c_matter {
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 1.15107913669065vw;
    line-height: 2.01438848920863vw;
    color: #200e32;
    text-align: justify;
    margin-top: 0.79136690647482vw;
  }
  #capable_container_cards_block
    #capable_container_cards_block_card_container_blocks
    p {
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 3.8vw;
    line-height: 28px;
    color: #200e32;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-top: 0;
  }
  #capable_container_cards_block
    #capable_container_cards_block_card_container_blocks
    img {
    width: 21vw;
    height: 21vw;
  }
  #capable_container_cards_block2 {
    width: 100%;
    height: 65vw;
    border: none;
  }
  #capable_container_cards_block2 img {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    box-shadow: 6px 0px 40px 0px rgba(16, 19, 89, 0.2);
  }
  .capable_container_cards:nth-child(odd) #capable_container_cards_block1 {
    margin-right: 0;
    width: 100%;
  }
  #capable_container_cards_matter #c_c_title {
    font-family: Manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 6vw;
  }
  #capable_container_cards_matter #c_c_matter {
    font-size: 3.5vw;
    line-height: 5.5vw;
    margin-top: 4vw;
    width: 100%;
    opacity: 0.8;
  }
  #capable_container_cards_matter {
    height: fit-content;
    margin: 10vw 0 0 0;
  }
  .capable_container_cards:nth-child(even) {
    flex-direction: column-reverse;
  }
  .capable_container_cards:nth-child(even) #capable_container_cards_block1 {
    margin-left: 0;
    width: 100%;
  }
  .capable_container_cards:nth-child(even) #capable_container_cards_block2 img {
    left: 0;
    right: unset;
  }
  .capable_container_cards:nth-child(2) #capable_container_cards_block2 {
    border: none;
  }
  .capable_container_cards:nth-child(3) #capable_container_cards_block2 {
    border: none;
  }
  .capable_container_cards:nth-child(4) #capable_container_cards_block2 {
    border: none;
  }
  #capable_container {
    margin-top: 15vw;
  }
  .capable_container_cards {
    margin-top: 22.8348837209302vw;
    flex-direction: column-reverse;
    padding: 0;
  }
  #capable_container_cards_block {
    margin-top: 2vw;
    width: 100%;
  }
  #capable_container_cards_block #block_title {
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size:3.25581395348837vw;
    line-height: 5.34883720930233vw;
    color: #18191f;
    margin-top: 5.34883720930233vw;
  }
}
