#mbanner{
    width: 100%;
    height: 45vw;
    background: url("../../data/assets/Manfacturing/Mbanner.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    margin-top: 3vw;
}
#mbanner_container{
    width: 51vw;
    height: 18.7769784172662vw;
    background: #22BDEF;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5vw;
}
#mbanner_container h1{
    font-family: Manrope;
font-style: normal;
font-weight: 600;
font-size: 2.87769784172662vw;
line-height: 3.9568345323741vw;
display: flex;
align-items: center;
color: #FFFFFF;
width: 43.7410071942446vw;
margin: auto;
}
@media (max-width:992px){
    #mbanner {
        margin-top: 85px;
    }
}
@media (max-width:750px){
    #mbanner{
        height: 43.0232558139535vw;
    }
    #mbanner_container {
        width: 84.4186046511628vw;
        height: 29.7674418604651vw;
        background: #22BDEF;
        margin: auto auto -22.5vw auto;
        padding-left: 0;
    }
    #mbanner_container h1 {
        text-align: center;
        font-size: 4.65116279069767vw;
        line-height: 6.51162790697674vw;
        width: 100%;
    }
}