#Qualityassurance {
  width: 100%;
  height: fit-content;
  padding: 9.64028776978417vw 11.4388489208633vw;
}
#Qualityassurance #Qualityassurance_title {
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 3.45323741007194vw;
  line-height: 4.74820143884892vw;
  text-align: center;
  color: #200e32;
  margin-top: 0;
}
#Qualityassurance #Qualityassurance_desc {
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 1.15107913669065vw;
  line-height: 2.01438848920863vw;
  text-align: center;
  color: #200e32;
  width: 47.4820143884892vw;
  margin: 1vw auto auto auto;
}
#Qualityassurance_container {
  margin: auto;
  margin-top: 4.53237410071942vw;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 24.4604316546763vw);
  gap: 2.87769784172662vw;
  padding: 1.43884892086331vw 1.8705035971223vw 1.29496402877698vw 1vw;
}
#Qualityassurance_container_card1 {
  height: 12.4460431654676vw;
  padding: 1.79856115107914vw 0 1.79856115107914vw 1.2vw;
  background: #ffffff;
  box-shadow: 0px 0px 0.575539568345324vw rgba(42, 71, 124, 0.18);
  border-radius: 0.575539568345324vw;
  transition: 0.5s ease-in-out;
}
#Qualityassurance_container_card1:hover {
  box-shadow: 0px 0px 0.1vw rgba(42, 71, 124, 0.18);
}
#Qualityassurance_container_card1_block1 {
  display: flex;
}
#Qualityassurance_container_card1 img {
  width: 3.45323741007194vw;
  height: 3.45323741007194vw;
}
#Qualityassurance
  #Qualityassurance_container
  #Qualityassurance_container_card1
  p {
  width: 11.0669064748201vw;
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 1.15107913669065vw;
  line-height: 1.94244604316547vw;
  text-align: left;
  color: #200e32;
  margin: auto 0 auto 1vw;
}
#Qualityassurance
  #Qualityassurance_container
  #Qualityassurance_container_card1:nth-child(4)
  p {
  width: 100%;
}
#Qualityassurance
  #Qualityassurance_container
  #Qualityassurance_container_card1:nth-child(5)
  p {
  width: 100%;
}
#Qualityassurance
  #Qualityassurance_container
  #Qualityassurance_container_card1:nth-child(6)
  p {
  width: 100%;
}
#Qualityassurance
  #Qualityassurance_container
  #Qualityassurance_container_card1:nth-child(7)
  p {
  width: 27vw;
}
#Qualityassurance
  #Qualityassurance_container
  #Qualityassurance_container_card1:nth-child(9)
  p {
  width: 100%;
}
#Qualityassurance
  #Qualityassurance_container
  #Qualityassurance_container_card1
  #p4_c_dis2 {
  width: 21.294964028777vw;
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 1.00719424460432vw;
  line-height: 1.58273381294964vw;
  text-align: left;
  color: #200e32;
  margin: 0;
  margin-top: 1vw;
}
#Qualityassurance #quality_matter:nth-child(2) #Qualityassurance_desc {
  width: 100%;
}
#Qualityassurance
  #quality_matter:nth-child(2)
  #Qualityassurance_container_card1 {
  padding: 1vw;
}
#Qualityassurance #quality_matter:nth-child(2) #Qualityassurance_title {
  margin-top: 10vw;
}
#Qualityassurance
  #quality_matter:nth-child(2)
  #Qualityassurance_container
  #Qualityassurance_container_card1
  #Qualityassurance_container_card1_block1
  img {
  margin: auto;
}
#Qualityassurance
  #quality_matter:nth-child(2)
  #Qualityassurance_container
  #Qualityassurance_container_card1
  #Qualityassurance_container_card1_block1
  #p4_c_dis {
  display: none;
}
#Qualityassurance
  #quality_matter:nth-child(2)
  #Qualityassurance_container
  #Qualityassurance_container_card1
  #Qualityassurance_container_card1_block2
  #p4_c_dis2 {
  text-align: center;
  width: 20vw;
  margin: 1vw auto;
  font-weight: 500;
  font-size: 0.935251798561151vw;
}
#Qualityassurance
  #quality_matter:nth-child(2)
  #Qualityassurance_container
  #Qualityassurance_container_card1:nth-child(2)
  #Qualityassurance_container_card1_block2
  #p4_c_dis2 {
  width: 10vw;
}
@media (max-width: 750px) {

  #Qualityassurance {
    width: 100%;
    padding: 13.4883720930233vw 3vw;
  }
  #Qualityassurance #Qualityassurance_title {
    font-family: Manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 6.04651162790698vw;
    margin-top: 19vw;
    line-height: normal;
    text-align: center;
    color: #200e32;
    margin-top: 0;
  }
  #Qualityassurance #Qualityassurance_desc {
    font-size: 3.4vw;
    line-height: 5.5vw;
    width: 84vw;
    margin-top: 2.3vw;
  }
  #Qualityassurance_container {
    margin-top: 14.1860465116279vw;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 3.72093023255814vw;
    padding: 0;
    width: 100%;
  }
  #Qualityassurance #Qualityassurance_container_card1 {
    height: 45.5813953488372vw;
    padding: 4.18604651162791vw 2.7906976744186vw;
    box-shadow: 0px 0px 1.3953488372093vw rgba(42, 71, 124, 0.12);
    border-radius: 1.86046511627907vw;
    transition: 0.5s ease-in-out;
  }
  #Qualityassurance #Qualityassurance_container_card1:hover {
    box-shadow: 0px 0px 0.5vw rgba(42, 71, 124, 0.12);
  }
  #Qualityassurance #Qualityassurance_container_card1 img {
    width: 8.37209302325581vw;
    height: 8.37209302325581vw;
  }
  #Qualityassurance
    #Qualityassurance_container
    #Qualityassurance_container_card1
    p {
    width: 100%;
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 2.7906976744186vw;
    line-height: 3.72093023255814vw;
    text-align: left;
    color: #200e32;
    margin-left: 2vw;
  }
  #Qualityassurance
    #Qualityassurance_container
    #Qualityassurance_container_card1
    #p4_c_dis2 {
    width: 100%;
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 3.25581395348837vw;
    line-height: 4.41860465116279vw;
    margin: 3.25581395348837vw 0 0 0;
    text-align: left;
    color: #200e32;
  }
  #Qualityassurance #quality_matter:nth-child(2) #Qualityassurance_title {
    margin-top: 36.7441860465116vw;
  }
  #Qualityassurance
    #Qualityassurance_container
    #Qualityassurance_container_card1:nth-child(7)
    p {
    width: 100%;
  }
  #Qualityassurance #quality_matter:nth-child(2) #Qualityassurance_container {
    margin: auto;
    margin-top: 14.1860465116279vw;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 181px);
    gap: 3.72093023255814vw;
    padding: 0;
    width: fit-content;
  }
  #Qualityassurance
    #quality_matter:nth-child(2)
    #Qualityassurance_container_card1 {
    height: 30vw;
    padding: 4.18604651162791vw 2.7906976744186vw;
    box-shadow: 0px 0px 1.3953488372093vw rgba(42, 71, 124, 0.12);
    border-radius: 1.86046511627907vw;
    transition: 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
  }
  #Qualityassurance
  #quality_matter:nth-child(2)
  #Qualityassurance_container
  #Qualityassurance_container_card1
  #Qualityassurance_container_card1_block2
  #p4_c_dis2 {
  text-align: center;
  width: 100%;
  margin: 3vw auto 0 auto;
  font-weight: 500;
  font-size: 2.7vw;
  line-height: 3.72093023255814vw;
  text-align: center;
}
#Qualityassurance #quality_matter:nth-child(2) #Qualityassurance_container #Qualityassurance_container_card1:nth-child(2) #Qualityassurance_container_card1_block2 #p4_c_dis2 {
  width: 100%;
}
}
