#dbanner {
  width: 100%;
  height: 45vw;
  background: url("../../data/assets/aboutBanner.svg.svg");
  background-repeat: no-repeat;
  display: flex;
  margin-top: 3vw;
}
#dbanner_container {
  width: 51vw;
  height: 18.7769784172662vw;
  background: #22bdef;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1vw;
}
#dbanner_container h1 {
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 2vw;
  line-height: 3.5vw;
  display: flex;
  align-items: center;
  color: #ffffff;
  width: 43.7410071942446vw;
  margin: auto;
}
@media (max-width: 992px) {
  #dbanner {
    margin-top: 85px;
  }
}
@media (max-width: 750px) {
  #dbanner {
    height: 43.0232558139535vw;
  }
  #dbanner_container {
    width: 84.4186046511628vw;
    height: 29.7674418604651vw;
    background: #22bdef;
    margin: auto auto -22.5vw auto;
    padding: 0 1vw;
  }
  #dbanner_container h1 {
    text-align: center;
    font-size: 3.2vw;
    line-height: 6.4vw;
    width: 100%;
  }
}
