* {
  padding: 0;
  margin: 0;
}
#Certifications {
  width: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6.90647482014388vw 13.2374100719424vw 11.2230215827338vw 13.2374100719424vw;
}
#Certifications h1 {
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 3.16546762589928vw;
  line-height: 4.31654676258993vw;
  text-align: center;
  color: #200e32;
}
#Certifications_container {
  width: fit-content;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 5vw 11.8705035971223vw;
  margin: 6.83453237410072vw 0 0 0;
}
#Certifications_container #Certifications_container_block1 {
  width: 17.2661870503597vw;
  height: 17.2661870503597vw;
  background: #ffffff;
  box-shadow: 0px 0px 1.43884892086331vw rgba(130, 130, 136, 0.12);
  border-radius: 1.15107913669065vw;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.87769784172662vw;
}
@media (max-width: 750px) {
  #Certifications {
    padding: 11vw 13.2374100719424vw;
  }
  #Certifications h1 {
    font-size: 7vw;
    line-height: unset;
  }
  #Certifications_container {
    width: fit-content;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 11.8705035971223vw;
    margin: 15vw 0 0 0;
  }
  #Certifications_container #Certifications_container_block1 {
    width: 40vw;
    height: 40vw;
    padding: 8vw;
    border-radius: 5vw;
  }
  #Certifications_container #Certifications_container_block1 img {
    width: 100%;
    height: 100%;
  }
}
